In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv("pizza-sales-data.csv")
df.head()

                  DATE  SALES          CATEGORY
0  01/01/2016 00:00:00   95.0  Neapolitan Pizza
1  02/01/2016 00:00:00   69.0  Neapolitan Pizza
2  03/01/2016 00:00:00   82.0  Neapolitan Pizza
3  04/01/2016 00:00:00   68.0  Neapolitan Pizza
4  05/01/2016 00:00:00   58.0  Neapolitan Pizza

In [16]:
df.groupby('CATEGORY').sum().reset_index()

TypeError: reset_index() got an unexpected keyword argument 'names'